language: ruby

cache: bundler

sudo: false

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
  - 2.5
  - ruby-head
  - jruby

matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby
    # NOTE: The tests never pass with 1.9.3 since WebMock stopped supporting 1.9.
    - rvm: 1.9.3
  fast_finish: true
